extends ../../layouts/default

block css
<<<<<<< HEAD
  link(rel="stylesheet", href="/css/blog.css")

block main
  .container.blog-container
    h2.blog-title Tin tức & Blog

    .row.g-4
      each item in blogs
        .col-md-4
          a.blog-card(href=`/blog/${item.slug}`)
            .blog-image
              img(src=item.thumbnail || "/images/no-image.png")

            .blog-body
              h3.blog-name #{item.title}

              p.blog-desc #{item.description || ""}

              .blog-date
                i.fa-regular.fa-calendar
                span
                  |  #{item.createdAt.toLocaleDateString("vi-VN")}

    // =======================
    // PAGINATION
    // =======================
    if totalPages > 1
      .pagination-container
        ul.pagination-verdish

          // PREV
          if page > 1
            li
              a(href=`?page=${page - 1}`) ‹
          else
            li.disabled
              span ‹

          // PAGE NUMBER
          each p in [...Array(totalPages).keys()]
            - const pageNumber = p + 1
            li(class=pageNumber === page ? "active" : "")
              a(href=`?page=${pageNumber}`)= pageNumber

          // NEXT
          if page < totalPages
            li
              a(href=`?page=${page + 1}`) ›
          else
            li.disabled
              span ›
=======
    link(rel="stylesheet", href="/css/blog.css")

block scripts
    script(src="/js/blog.js")

block main
    .container.blog-container
        h2.blog-title Tin tức & Blog

        .row.blog-grid
            each item in blogs
                .col-lg-3.col-md-4.col-sm-6.col-12.mb-4
                    .blog-card(data-href=`/blog/${item.slug}`)
                        .blog-image
                            img(src=item.thumbnail alt=item.title)

                        .blog-content-box
                            h3.blog-item-title #{item.title}
                            p.blog-item-desc !{item.content.substring(0, 80)}...

                            .blog-meta
                                span.meta-date
                                    i.fa-solid.fa-calendar-days
                                    | #{item.createdAt.toLocaleDateString('vi-VN')}

        if totalPages > 1
            .pagination-container
                ul.pagination-verdish
                    if currentPage > 1
                        li
                            a(href=`/blog?page=${currentPage - 1}`) « Trước
                    else
                        li.disabled « Trước

                    each page in totalPagesArr
                        if page === currentPage
                            li.active #{page}
                        else
                            li
                                a(href=`/blog?page=${page}`) #{page}

                    if currentPage < totalPages
                        li
                            a(href=`/blog?page=${currentPage + 1}`) Sau »
                    else
                        li.disabled Sau »
>>>>>>> origin/home
